@import "../index.scss";

.aboutRoute {
  width: 100%;
  min-height: calc(100vh - 325px);
  transition: 0.2s;
  .aboutCont {
    flex: 1;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 125px;
    h2 {
      font-size: 1.4rem;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .info {
      text-indent: 20px;
    }
    ul {
      padding-left: 20px;
      li {
        list-style: none;
        &:not(:last-child) {
          padding-bottom: 20px;
        }
        p {
          margin: 0;
        }
        .experienceOccupation {
          font-weight: bold;
          padding-bottom: 10px;
        }

        .bullets {
          padding-left: 40px;
          li {
            list-style: outside;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
  @include media("<=550") {
    .aboutCont {
      padding: 0px 15px;
      margin-bottom: 75px;
    }
    .aboutCont {
      ul {
        padding: 0 20px;
        li {
          p {
            margin: 0;
          }
        }
      }
    }
  }
}
